In [1]:
import pandas as pd
import numpy as np
import h2o

# Machine Learning - Using h2o Auto ML

In [2]:
full_table = pd.read_csv('./data/processed_results/osc_df')

In [3]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_231"; Java(TM) SE Runtime Environment (build 1.8.0_231-b11); Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)
  Starting server from /Users/nickparker/anaconda3/envs/DistributedComputing/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmp4vgqqr11
  JVM stdout: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmp4vgqqr11/h2o_nickparker_started_from_python.out
  JVM stderr: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmp4vgqqr11/h2o_nickparker_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.2
H2O cluster version age:    1 day
H2O cluster name:           H2O_from_python_nickparker_u3g2vt
H2O cluster total nodes:    1
H2O cluster free memory:    3.556 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

### Train/Test Split

First Year of Existance:
- gg_drama 1943
- gg_comedy 1951
- pga 1989
- bafta 1960
- dga 1948
- sag 1995
- cannes 1970

In [4]:
# I pick a min_year where the awards shows will be relevant
min_year = 1989

# Leftover code from designing the split
# # 80/20 Split (random)
# table_sized = full_table.loc[(full_table['year'] >= min_year)]
# rand_rows = np.random.choice(table_sized.shape[0], table_sized.shape[0])
# split = int(0.8 * len(rand_rows))
# train = table_sized.iloc[rand_rows[:split]]
# valid = table_sized.iloc[rand_rows[split:]]

# # 80/20 Split (sequential)
# year_range = 2019 - min_year
# train = full_table.loc[((full_table['year'] <= 2019 - 0.2 * year_range) & (full_table['year'] >= min_year))]
# valid = full_table.loc[((full_table['year'] > 2019 - 0.2 * year_range) & (full_table['year'] < 2019))]

# # Final Prediction
# train = full_table.loc[((full_table['year'] < 2019) & (full_table['year'] >= min_year))]
# test = full_table.loc[(full_table['year'] == 2019)]

# train.to_csv('./data/processed_results/train.csv', index = False)
# valid.to_csv('./data/processed_results/valid.csv', index = False)

# H2O's Auto ML

## Pick best model by validating with the first 80% of the data

In [5]:
# 80/20 Split (sequential) Excluding 2019
year_range = 2019 - min_year
train = full_table.loc[((full_table['year'] <= 2019 - 0.2 * year_range) & (full_table['year'] >= min_year))]
valid = full_table.loc[((full_table['year'] > 2019 - 0.2 * year_range) & (full_table['year'] < 2019))]

In [6]:
train.columns

Index(['Unnamed: 0', 'year', 'film', 'wiki', 'winner', 'Oscar_win',
       'nom_gg_drama', 'winner_gg_drama', 'nom_gg_comedy', 'winner_gg_comedy',
       'nom_pga', 'winner_pga', 'nom_bafta', 'winner_bafta', 'nom_dga',
       'winner_dga', 'nom_sag', 'winner_sag', 'nom_cannes', 'winner_cannes'],
      dtype='object')

In [7]:
from h2o.automl import H2OAutoML, get_leaderboard

# Import a sample binary outcome train/test set into H2O
train = h2o.H2OFrame(train)
test = h2o.H2OFrame(valid)

# Identify predictors and response
predictors = ['year','nom_gg_drama', 'winner_gg_drama', 'nom_gg_comedy', 'winner_gg_comedy',
       'nom_pga', 'winner_pga', 'nom_bafta', 'winner_bafta', 'nom_dga', 'winner_dga',
        'nom_sag', 'winner_sag', 'nom_cannes', 'winner_cannes']

x = predictors
y = 'Oscar_win'

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

# Run AutoML for 20 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=20, seed=1)
aml.train(x=x, y=y, training_frame=train)

# AutoML Leaderboard
lb = aml.leaderboard

# Optionally edd extra model information to the leaderboard
lb = get_leaderboard(aml, extra_columns='ALL')

# Print all rows (instead of default 10 rows)
lb.head(rows=lb.nrows)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
AutoML progress: |████████████
22:28:14.758: Skipping training of model GBM_5_AutoML_20200121_222801 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200121_222801.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 147.0.


████████████████████████████████████████████| 100%

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse,training_time_ms,predict_time_per_row_ms
DeepLearning_1_AutoML_20200121_222801,0.94623,0.340217,0.72721,0.133279,0.322235,0.103836,51,0.020239
StackedEnsemble_AllModels_AutoML_20200121_222801,0.934754,0.295363,0.735027,0.133279,0.298909,0.0893465,151,0.330827
StackedEnsemble_BestOfFamily_AutoML_20200121_222801,0.915738,0.253496,0.703683,0.160984,0.277073,0.0767693,133,0.112695
XGBoost_grid__1_AutoML_20200121_222801_model_4,0.823279,0.43675,0.333895,0.217869,0.380605,0.14486,190,0.018038
XGBoost_grid__1_AutoML_20200121_222801_model_1,0.660328,0.639405,0.210021,0.233607,0.444035,0.197167,309,0.019331
XGBoost_grid__1_AutoML_20200121_222801_model_2,0.648689,0.46461,0.207111,0.204918,0.384011,0.147465,197,0.017968
XRT_1_AutoML_20200121_222801,0.587869,0.757966,0.183841,0.377049,0.440787,0.194293,61,0.029428
DRF_1_AutoML_20200121_222801,0.559344,0.762796,0.171908,0.381148,0.443478,0.196673,70,0.022369
XGBoost_3_AutoML_20200121_222801,0.397869,0.571909,0.138409,0.348361,0.416133,0.173167,176,0.016241
GBM_3_AutoML_20200121_222801,0.38918,0.819812,0.13811,0.47541,0.433233,0.187691,57,0.021485
GLM_1_AutoML_20200121_222801,0.388197,0.637865,0.147749,0.5,0.412709,0.170329,27,0.017428
GBM_2_AutoML_20200121_222801,0.368852,0.837733,0.14145,0.467213,0.430765,0.185559,69,0.024779
GBM_4_AutoML_20200121_222801,0.34623,0.849995,0.132408,0.5,0.43264,0.187177,81,0.018294
XGBoost_grid__1_AutoML_20200121_222801_model_5,0.32,0.583058,0.125901,0.422131,0.415288,0.172464,115,0.01506
XGBoost_grid__1_AutoML_20200121_222801_model_3,0.308525,0.595166,0.126723,0.397541,0.417471,0.174282,133,0.015738
DeepLearning_grid__1_AutoML_20200121_222801_model_1,0.304262,2.04926,0.118469,0.438525,0.484074,0.234328,12105,0.03026
GBM_grid__1_AutoML_20200121_222801_model_1,0.285574,0.840287,0.130913,0.5,0.428212,0.183365,33,0.023964
GBM_1_AutoML_20200121_222801,0.234754,1.12238,0.123474,0.5,0.463281,0.214629,50,0.025367
DeepLearning_grid__2_AutoML_20200121_222801_model_1,0.220656,4.18047,0.128683,0.47541,0.447059,0.199862,23333,0.061394
DeepLearning_grid__3_AutoML_20200121_222801_model_1,0.198361,4.88518,0.106253,0.487705,0.480466,0.230848,20687,0.084462
XGBoost_1_AutoML_20200121_222801,0.085082,0.622537,0.0883329,0.5,0.426112,0.181572,181,0.011493
XGBoost_2_AutoML_20200121_222801,0.0493443,0.641538,0.086891,0.5,0.426781,0.182142,101,0.011509

## Once best model is picked, retrain that on the entire dataset

In [8]:
top_model = aml.leader
top_model

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_1_AutoML_20200121_222801


Status of Neuron Layers: predicting Oscar_win, 2-class classification, bernoulli distribution, CrossEntropy loss, 362 weights/biases, 9.8 KB, 1,646 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,11,Input,0,,,,,,,,,
1,,2,10,Rectifier,0,0,0,0.00171752,0.00157593,0,6.90201e-05,0.312818,0.514244,0.0674342
2,,3,10,Rectifier,0,0,0,0.00129674,0.000956646,0,-0.0167563,0.322705,0.992695,0.084619
3,,4,10,Rectifier,0,0,0,0.00520543,0.010476,0,0.0036124,0.334699,1.01982,0.088546
4,,5,2,Softmax,,0,0,0.00152497,0.00116895,0,-0.531734,1.48644,-2.21885e-05,0.0520929

ModelMetricsBinomial: deeplearning
** Reported on train data. **

MSE: 0.07744103166898385
RMSE: 0.27828228773851893
LogLoss: 0.25308096922844625
Mean Per-Class Error: 0.14196721311475402
AUC: 0.9229508196721311
AUCPR: 0.736175436066597
Gini: 0.8459016393442622

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.5724147627958741:

              0     1   Error           Rate
0      0  120.0   2.0  0.0164    (2.0/122.0)
1      1   11.0  14.0    0.44    (11.0/25.0)
2  Total  131.0  16.0  0.0884   (13.0/147.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.572415    0.682927   15.0
1                        max f2   0.121634    0.774648   39.0
2                  max f0point5   0.572415    0.786517   15.0
3                  max accuracy   0.572415    0.911565   15.0
4                 max precision   0.959415    1.000000    0.0
5                    max recall   0.021669    1.000000   77.0
6               max specificity   0.959415    1.000000    0.0
7              max absolute_mcc   0.572415    0.655751   15.0
8    max min_per_class_accuracy   0.125242    0.840000   37.0
9   max mean_per_class_accuracy   0.121634    0.858033   39.0
10                      max tns   0.959415  122.000000    0.0
11                      max fns   0.959415   24.000000    0.0
12                      max fps   0.000873  122.000000  127.0
13                      max tps   0.021669   25.000000   77.0
14                      max tnr   0.959415    1.000000    0.0
15                      max fnr   0.959415    0.960000    0.0
16                      max fpr   0.000873    1.000000  127.0
17                      max tpr   0.021669    1.000000   77.0

Gains/Lift Table: Avg response rate: 17.01 %, avg score: 15.54 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.013605,0.873569,5.880,5.880000,1.000000,0.928834,1.000000,0.928834,0.08,0.08,488.0,488.000000
1,,2,0.020408,0.842640,5.880,5.880000,1.000000,0.844593,1.000000,0.900753,0.04,0.12,488.0,488.000000
2,,3,0.034014,0.837465,5.880,5.880000,1.000000,0.841776,1.000000,0.877162,0.08,0.20,488.0,488.000000
3,,4,0.040816,0.823276,5.880,5.880000,1.000000,0.831565,1.000000,0.869563,0.04,0.24,488.0,488.000000
4,,5,0.054422,0.792920,5.880,5.880000,1.000000,0.809464,1.000000,0.854538,0.08,0.32,488.0,488.000000
5,,6,0.102041,0.583784,4.200,5.096000,0.714286,0.688899,0.866667,0.777240,0.20,0.52,320.0,409.600000
6,,7,0.149660,0.443280,1.680,4.009091,0.285714,0.536872,0.681818,0.700759,0.08,0.60,68.0,300.909091
7,,8,0.204082,0.212741,2.205,3.528000,0.375000,0.298868,0.600000,0.593588,0.12,0.72,120.5,252.800000
8,,9,0.306122,0.116293,1.568,2.874667,0.266667,0.148834,0.488889,0.445337,0.16,0.88,56.8,187.466667
9,,10,0.401361,0.067783,0.840,2.391864,0.142857,0.080229,0.406780,0.358701,0.08,0.96,-16.0,139.186441
10,,11,0.503401,0.036471,0.000,1.907027,0.000000,0.051203,0.324324,0.296370,0.00,0.96,-100.0,90.702703
11,,12,0.598639,0.023824,0.000,1.603636,0.000000,0.030351,0.272727,0.254049,0.00,0.96,-100.0,60.363636
12,,13,0.700680,0.010803,0.392,1.427184,0.066667,0.018146,0.242718,0.219694,0.04,1.00,-60.8,42.718447
13,,14,0.809524,0.007602,0.000,1.235294,0.000000,0.008585,0.210084,0.191310,0.00,1.00,-100.0,23.529412
14,,15,0.904762,0.001515,0.000,1.105263,0.000000,0.004111,0.187970,0.171605,0.00,1.00,-100.0,10.526316
15,,16,1.000000,0.000873,0.000,1.000000,0.000000,0.001251,0.170068,0.155381,0.00,1.00,-100.0,0.000000

ModelMetricsBinomial: deeplearning
** Reported on cross-validation data. **

MSE: 0.10383559179724654
RMSE: 0.32223530501366004
LogLoss: 0.3402169315105957
Mean Per-Class Error: 0.10245901639344268
AUC: 0.9462295081967212
AUCPR: 0.7272103435922452
Gini: 0.8924590163934425

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.7230167181390272:

              0     1   Error           Rate
0      0  109.0  13.0  0.1066   (13.0/122.0)
1      1    4.0  21.0    0.16     (4.0/25.0)
2  Total  113.0  34.0  0.1156   (17.0/147.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.723017    0.711864   33.0
1                        max f2   0.164365    0.833333   49.0
2                  max f0point5   0.940722    0.802469   13.0
3                  max accuracy   0.940722    0.911565   13.0
4                 max precision   0.999982    1.000000    0.0
5                    max recall   0.164365    1.000000   49.0
6               max specificity   0.999982    1.000000    0.0
7              max absolute_mcc   0.608042    0.655355   36.0
8    max min_per_class_accuracy   0.608042    0.877049   36.0
9   max mean_per_class_accuracy   0.164365    0.897541   49.0
10                      max tns   0.999982  122.000000    0.0
11                      max fns   0.999982   24.000000    0.0
12                      max fps   0.001030  122.000000  143.0
13                      max tps   0.164365   25.000000   49.0
14                      max tnr   0.999982    1.000000    0.0
15                      max fnr   0.999982    0.960000    0.0
16                      max fpr   0.001030    1.000000  143.0
17                      max tpr   0.164365    1.000000   49.0

Gains/Lift Table: Avg response rate: 17.01 %, avg score: 28.91 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.013605,0.999736,5.880,5.880000,1.000000,0.999891,1.000000,0.999891,0.08,0.08,488.0,488.000000
1,,2,0.020408,0.996900,5.880,5.880000,1.000000,0.999662,1.000000,0.999815,0.04,0.12,488.0,488.000000
2,,3,0.034014,0.992643,2.940,4.704000,0.500000,0.994925,0.800000,0.997859,0.04,0.16,194.0,370.400000
3,,4,0.040816,0.990601,5.880,4.900000,1.000000,0.991748,0.833333,0.996841,0.04,0.20,488.0,390.000000
4,,5,0.054422,0.985998,5.880,5.145000,1.000000,0.988316,0.875000,0.994709,0.08,0.28,488.0,414.500000
5,,6,0.102041,0.927565,5.040,5.096000,0.857143,0.966909,0.866667,0.981736,0.24,0.52,404.0,409.600000
6,,7,0.149660,0.894548,0.840,3.741818,0.142857,0.908520,0.636364,0.958440,0.04,0.56,-16.0,274.181818
7,,8,0.204082,0.794815,3.675,3.724000,0.625000,0.868773,0.633333,0.934529,0.20,0.76,267.5,272.400000
8,,9,0.299320,0.340412,1.680,3.073636,0.285714,0.606530,0.522727,0.830165,0.16,0.92,68.0,207.363636
9,,10,0.401361,0.122327,0.784,2.491525,0.133333,0.173724,0.423729,0.663274,0.08,1.00,-21.6,149.152542
10,,11,0.503401,0.081812,0.000,1.986486,0.000000,0.103015,0.337838,0.549708,0.00,1.00,-100.0,98.648649
11,,12,0.598639,0.046669,0.000,1.670455,0.000000,0.063300,0.284091,0.472324,0.00,1.00,-100.0,67.045455
12,,13,0.700680,0.024807,0.000,1.427184,0.000000,0.033577,0.242718,0.408429,0.00,1.00,-100.0,42.718447
13,,14,0.795918,0.012414,0.000,1.256410,0.000000,0.018355,0.213675,0.361754,0.00,1.00,-100.0,25.641026
14,,15,0.897959,0.004328,0.000,1.113636,0.000000,0.008519,0.189394,0.321613,0.00,1.00,-100.0,11.363636
15,,16,1.000000,0.001030,0.000,1.000000,0.000000,0.002559,0.170068,0.289057,0.00,1.00,-100.0,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.55310345,0.5105405,0.8,0.0,0.0,0.9655172,1.0
1,auc,0.8783644,0.18063441,0.6708075,NaN,NaN,0.96428573,1.0
2,aucpr,0.35637513,0.4197956,0.8191254,NaN,NaN,0.25,0.0
3,err,0.16980833,0.22117023,0.2,0.5415966,0.07296227,0.03448276,0.0
4,err_count,2.3333333,3.2145503,6.0,NaN,NaN,1.0,0.0
5,f0point5,0.5180163,0.4199186,0.8396947,0.18203886,0.01279238,0.5555556,1.0
6,f1,0.8488889,0.1688304,0.88,NaN,NaN,0.6666667,1.0
7,f2,-Infinity,NaN,0.92436975,-Infinity,-Infinity,0.8333333,1.0
8,lift_top_group,6.1688223,12.773256,1.3043479,0.42666012,0.113103405,0.0,29.0
9,logloss,0.21363266,0.27688375,0.67134875,None,None,0.14638339,0.2504312
10,max_per_class_error,0.15,0.31582415,0.71428573,None,None,0.035714287,0.0
11,mcc,0.40717593,0.4386952,0.3415145,None,None,0.6943651,1.0
12,mean_per_class_accuracy,0.5206522,0.49874812,0.621118,None,None,0.98214287,1.0
13,mean_per_class_error,0.07934783,0.16762313,0.378882,None,None,0.017857144,0.0
14,mse,0.06372148,0.079884745,0.19207354,None,None,0.04169409,0.084839754
15,pr_auc,0.21382508,0.3552677,0.8191254,None,None,0.25,0.0
16,precision,0.46296296,0.4588708,0.8148148,None,None,0.5,1.0
17,r2,-0.37484747,0.6639905,-0.073702976,None,None,-0.25231177,-1.5482225
18,recall,0.59130436,0.5400763,0.95652175,None,None,1.0,1.0
19,rmse,0.18674518,0.18989377,0.43826196,None,None,0.20419131,0.29127264

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2020-01-21 22:28:15,0.000 sec,None,0.000000,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,2020-01-21 22:28:15,0.448 sec,48000 obs/sec,0.979592,1,144.0,0.395181,0.475536,-0.106436,0.785902,0.383438,5.88,0.238095
2,,2020-01-21 22:28:15,0.482 sec,56758 obs/sec,11.197279,11,1646.0,0.278282,0.253081,0.451337,0.922951,0.736175,5.88,0.088435

Variable Importances:

            variable  relative_importance  scaled_importance  percentage
0   winner_gg_comedy             1.000000           1.000000    0.126362
1       nom_gg_drama             0.866256           0.866256    0.109462
2               year             0.839551           0.839551    0.106087
3         nom_cannes             0.759296           0.759296    0.095946
4      winner_cannes             0.727096           0.727096    0.091877
5         winner_pga             0.721293           0.721293    0.091144
6         winner_sag             0.708602           0.708602    0.089540
7            nom_pga             0.664869           0.664869    0.084014
8    winner_gg_drama             0.645374           0.645374    0.081551
9            nom_sag             0.620017           0.620017    0.078347
10     nom_gg_comedy             0.361420           0.361420    0.045670

In [9]:
# Re-split data on min_year to 2019
train = full_table.loc[((full_table['year'] < 2019) & (full_table['year'] >= min_year))]
test = full_table.loc[(full_table['year'] == 2019)]

# Import a binary outcome train/test set into H2O
train = h2o.H2OFrame(train)
test = h2o.H2OFrame(test)

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [10]:
top_model.train(x=x, y=y, training_frame=train)

preds = top_model.predict(test)

preds

deeplearning Model Build progress: |██████████████████████████████████████| 100%
deeplearning prediction progress: |███████████████████████████████████████| 100%

predict,p0,p1
0,0.999995,5.10505e-06
0,0.999828,0.000171615
0,0.999995,5.23408e-06
0,0.999991,8.71287e-06
0,0.999995,5.10505e-06
0,0.999991,8.71287e-06
0,0.9429,0.0571003
0,0.999851,0.000149178
0,0.999989,1.05672e-05

## Predict the winner

In [11]:
test['pred'] = preds['predict']
test['probA'] = preds['p1']
test_pd = test.as_data_frame(use_pandas=True)

In [12]:
test_pd[['film','probA']].sort_values('probA', ascending = False)

                            film     probA
6               1917 (2019 film)  0.057100
1                   The Irishman  0.000172
7  Once Upon a Time in Hollywood  0.000149
8           Parasite (2019 film)  0.000011
3              Joker (2019 film)  0.000009
5                 Marriage Story  0.000009
2                    Jojo Rabbit  0.000005
0                 Ford v Ferrari  0.000005
4       Little Women (2019 film)  0.000005

In [13]:
test_pd.T #The DGA's (1/26) and BAFTA's (2/2) Haven't come out yet

,0,1,2,3,4,5,6,7,8
Unnamed: 0,554,555,556,557,558,559,560,561,562
year,2019,2019,2019,2019,2019,2019,2019,2019,2019
film,Ford v Ferrari,The Irishman,Jojo Rabbit,Joker (2019 film),Little Women (2019 film),Marriage Story,1917 (2019 film),Once Upon a Time in Hollywood,Parasite (2019 film)
wiki,/wiki/Ford_v_Ferrari,/wiki/The_Irishman,/wiki/Jojo_Rabbit,/wiki/Joker_(2019_film),/wiki/Little_Women_(2019_film),/wiki/Marriage_Story,/wiki/1917_(2019_film),/wiki/Once_Upon_a_Time_in_Hollywood,/wiki/Parasite_(2019_film)
winner,False,False,False,False,False,False,False,False,False
Oscar_win,0,0,0,0,0,0,0,0,0
nom_gg_drama,0,1,0,1,0,1,1,0,0
winner_gg_drama,0,0,0,0,0,0,1,0,0
nom_gg_comedy,0,0,1,0,0,0,0,1,0
winner_gg_comedy,0,0,0,0,0,0,0,1,0
nom_pga,1,1,1,1,1,1,1,1,1
winner_pga,0,0,0,0,0,0,1,0,0
nom_bafta,0,1,0,1,0,0,1,1,1
winner_bafta,0,0,0,0,0,0,0,0,0
nom_dga,0,1,1,0,0,0,1,1,1
winner_dga,0,0,0,0,0,0,0,0,0
nom_sag,0,1,1,0,0,0,0,1,1
winner_sag,0,0,0,0,0,0,0,0,1
nom_cannes,0,0,0,0,0,0,0,1,1
winner_cannes,0,0,0,0,0,0,0,0,1
pred,0,0,0,0,0,0,0,0,0
probA,5.10505e-06,0.000171615,5.23408e-06,8.71287e-06,5.10505e-06,8.71287e-06,0.0571003,0.000149178,1.05672e-05