In [1]:
import pandas as pd
import numpy as np
import h2o

# Machine Learning - Using h2o Auto ML

In [2]:
full_table = pd.read_csv('./data/processed_results/osc_df')

In [3]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_231"; Java(TM) SE Runtime Environment (build 1.8.0_231-b11); Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)
  Starting server from /Users/nickparker/anaconda3/envs/DistributedComputing/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmpcty3wcnu
  JVM stdout: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmpcty3wcnu/h2o_nickparker_started_from_python.out
  JVM stderr: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmpcty3wcnu/h2o_nickparker_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.2
H2O cluster version age:    1 day
H2O cluster name:           H2O_from_python_nickparker_vuzzy5
H2O cluster total nodes:    1
H2O cluster free memory:    3.556 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

### Train/Test Split

First Year of Existance:
- gg_drama 1943
- gg_comedy 1951
- pga 1989
- bafta 1960
- dga 1948
- sag 1995
- cannes 1970

In [4]:
# I pick a min_year where the awards shows will be relevant
min_year = 1989

# Leftover code from designing the split
# # 80/20 Split (random)
# table_sized = full_table.loc[(full_table['year'] >= min_year)]
# rand_rows = np.random.choice(table_sized.shape[0], table_sized.shape[0])
# split = int(0.8 * len(rand_rows))
# train = table_sized.iloc[rand_rows[:split]]
# valid = table_sized.iloc[rand_rows[split:]]

# # 80/20 Split (sequential)
# year_range = 2019 - min_year
# train = full_table.loc[((full_table['year'] <= 2019 - 0.2 * year_range) & (full_table['year'] >= min_year))]
# valid = full_table.loc[((full_table['year'] > 2019 - 0.2 * year_range) & (full_table['year'] < 2019))]

# # Final Prediction
# train = full_table.loc[((full_table['year'] < 2019) & (full_table['year'] >= min_year))]
# test = full_table.loc[(full_table['year'] == 2019)]

# train.to_csv('./data/processed_results/train.csv', index = False)
# valid.to_csv('./data/processed_results/valid.csv', index = False)

# H2O's Auto ML

## Pick best model by validating with the first 80% of the data

In [5]:
# 80/20 Split (sequential) Excluding 2019
year_range = 2019 - min_year
train = full_table.loc[((full_table['year'] <= 2019 - 0.2 * year_range) & (full_table['year'] >= min_year))]
valid = full_table.loc[((full_table['year'] > 2019 - 0.2 * year_range) & (full_table['year'] < 2019))]

# train.to_csv('./data/processed_results/train.csv', index = False)
# valid.to_csv('./data/processed_results/valid.csv', index = False)

In [6]:
train.columns

Index(['Unnamed: 0', 'year', 'film', 'wiki', 'winner', 'Oscar_win',
       'nom_gg_drama', 'winner_gg_drama', 'nom_gg_comedy', 'winner_gg_comedy',
       'nom_pga', 'winner_pga', 'nom_bafta', 'winner_bafta', 'nom_dga',
       'winner_dga', 'nom_sag', 'winner_sag', 'nom_cannes', 'winner_cannes'],
      dtype='object')

In [7]:
from h2o.automl import H2OAutoML, get_leaderboard

# Import a sample binary outcome train/test set into H2O
train = h2o.H2OFrame(train)
test = h2o.H2OFrame(valid)

# Identify predictors and response
predictors = ['year','nom_gg_drama', 'winner_gg_drama', 'nom_gg_comedy', 'winner_gg_comedy',
       'nom_pga', 'winner_pga', 'nom_bafta', 'winner_bafta', 'nom_dga',
       'winner_dga', 'nom_sag', 'winner_sag', 'nom_cannes', 'winner_cannes']

x = predictors
y = 'Oscar_win'

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

# Run AutoML for 20 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=20, seed=1)
aml.train(x=x, y=y, training_frame=train)

# AutoML Leaderboard
lb = aml.leaderboard

# Optionally edd extra model information to the leaderboard
lb = get_leaderboard(aml, extra_columns='ALL')

# Print all rows (instead of default 10 rows)
lb.head(rows=lb.nrows)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
AutoML progress: |███████████
22:13:25.124: Skipping training of model GBM_5_AutoML_20200121_221310 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200121_221310.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 147.0.


█████████████████████████████████████████████| 100%

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse,training_time_ms,predict_time_per_row_ms
DeepLearning_1_AutoML_20200121_221310,0.939016,0.25691,0.75449,0.172295,0.28097,0.0789442,51,0.029673
XGBoost_grid__1_AutoML_20200121_221310_model_4,0.881639,0.4097,0.419895,0.102459,0.37539,0.140918,205,0.015534
StackedEnsemble_AllModels_AutoML_20200121_221310,0.872131,0.305983,0.666593,0.188197,0.29735,0.088417,148,0.357138
StackedEnsemble_BestOfFamily_AutoML_20200121_221310,0.856066,0.285115,0.639881,0.176393,0.279779,0.0782763,244,0.074173
XGBoost_grid__1_AutoML_20200121_221310_model_2,0.834918,0.446651,0.281636,0.102459,0.38018,0.144537,179,0.035899
XGBoost_grid__1_AutoML_20200121_221310_model_1,0.826066,0.603947,0.327991,0.147049,0.428488,0.183602,300,0.020217
DRF_1_AutoML_20200121_221310,0.652295,0.641437,0.231538,0.330492,0.410925,0.16886,80,0.032412
XRT_1_AutoML_20200121_221310,0.633934,0.646703,0.228248,0.363279,0.41381,0.171239,92,0.024009
XGBoost_3_AutoML_20200121_221310,0.510984,0.564226,0.159188,0.303279,0.413365,0.170871,204,0.030723
GLM_1_AutoML_20200121_221310,0.481967,0.589107,0.188002,0.495902,0.402091,0.161677,43,0.015254
GBM_2_AutoML_20200121_221310,0.420656,0.827998,0.146225,0.483607,0.428631,0.183724,88,0.021107
GBM_4_AutoML_20200121_221310,0.413443,0.83122,0.151964,0.467213,0.424146,0.1799,58,0.027308
DeepLearning_grid__1_AutoML_20200121_221310_model_1,0.402623,2.04423,0.130578,0.438033,0.467584,0.218635,4398,0.040923
GBM_3_AutoML_20200121_221310,0.398361,0.827779,0.145425,0.5,0.428181,0.183339,50,0.024687
XGBoost_grid__1_AutoML_20200121_221310_model_5,0.385246,0.577608,0.133943,0.377049,0.413023,0.170588,184,0.017716
GBM_grid__1_AutoML_20200121_221310_model_1,0.364262,0.84556,0.165294,0.47541,0.415315,0.172486,51,0.024892
GBM_1_AutoML_20200121_221310,0.34459,1.12133,0.133928,0.405738,0.44884,0.201457,63,0.024327
XGBoost_grid__1_AutoML_20200121_221310_model_3,0.302951,0.584593,0.125248,0.393443,0.410377,0.168409,141,0.034829
DeepLearning_grid__3_AutoML_20200121_221310_model_1,0.236721,4.0167,0.114072,0.438525,0.447818,0.200541,25055,0.127004
DeepLearning_grid__2_AutoML_20200121_221310_model_1,0.212459,4.38089,0.108277,0.487705,0.472077,0.222856,4607,0.080988
XGBoost_1_AutoML_20200121_221310,0.092623,0.617881,0.0895832,0.5,0.424651,0.180328,157,0.035121
XGBoost_2_AutoML_20200121_221310,0.0429508,0.641629,0.0868325,0.5,0.426818,0.182174,95,0.015408

## Once best model is picked, retrain that on the entire dataset

In [8]:
top_model = aml.leader
top_model

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_1_AutoML_20200121_221310


Status of Neuron Layers: predicting Oscar_win, 2-class classification, bernoulli distribution, CrossEntropy loss, 402 weights/biases, 10.7 KB, 1,646 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,15,Input,0,,,,,,,,,
1,,2,10,Rectifier,0,0,0,0.00150175,0.00120049,0,-0.0111631,0.258635,0.508221,0.0384297
2,,3,10,Rectifier,0,0,0,0.00102098,0.000600193,0,-0.0239444,0.317506,0.992031,0.0863466
3,,4,10,Rectifier,0,0,0,0.00461687,0.0100446,0,-0.0126535,0.345424,1.00641,0.092561
4,,5,2,Softmax,,0,0,0.00156279,0.00123843,0,-0.532108,1.48643,1.82675e-05,0.0664708

ModelMetricsBinomial: deeplearning
** Reported on train data. **

MSE: 0.05962855633706177
RMSE: 0.2441895909678825
LogLoss: 0.21462630482073308
Mean Per-Class Error: 0.10918032786885246
AUC: 0.9400000000000001
AUCPR: 0.7875543747981884
Gini: 0.8800000000000001

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.5005644230033649:

              0     1   Error          Rate
0      0  119.0   3.0  0.0246   (3.0/122.0)
1      1    6.0  19.0    0.24    (6.0/25.0)
2  Total  125.0  22.0  0.0612   (9.0/147.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.500564    0.808511   21.0
1                        max f2   0.211565    0.820896   33.0
2                  max f0point5   0.525109    0.857143   19.0
3                  max accuracy   0.525109    0.938776   19.0
4                 max precision   0.964374    1.000000    0.0
5                    max recall   0.007310    1.000000   99.0
6               max specificity   0.964374    1.000000    0.0
7              max absolute_mcc   0.500564    0.774485   21.0
8    max min_per_class_accuracy   0.211565    0.880000   33.0
9   max mean_per_class_accuracy   0.211565    0.890820   33.0
10                      max tns   0.964374  122.000000    0.0
11                      max fns   0.964374   24.000000    0.0
12                      max fps   0.000550  122.000000  138.0
13                      max tps   0.007310   25.000000   99.0
14                      max tnr   0.964374    1.000000    0.0
15                      max fnr   0.964374    0.960000    0.0
16                      max fpr   0.000550    1.000000  138.0
17                      max tpr   0.007310    1.000000   99.0

Gains/Lift Table: Avg response rate: 17.01 %, avg score: 18.41 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.013605,0.963495,5.880,5.880000,1.000000,0.963957,1.000000,0.963957,0.08,0.08,488.0,488.000000
1,,2,0.020408,0.961460,5.880,5.880000,1.000000,0.963442,1.000000,0.963786,0.04,0.12,488.0,488.000000
2,,3,0.034014,0.942407,5.880,5.880000,1.000000,0.955391,1.000000,0.960428,0.08,0.20,488.0,488.000000
3,,4,0.040816,0.921927,5.880,5.880000,1.000000,0.930846,1.000000,0.955497,0.04,0.24,488.0,488.000000
4,,5,0.054422,0.908601,2.940,5.145000,0.500000,0.916048,0.875000,0.945635,0.04,0.28,194.0,414.500000
5,,6,0.102041,0.764539,5.040,5.096000,0.857143,0.846300,0.866667,0.899279,0.24,0.52,404.0,409.600000
6,,7,0.149660,0.494752,5.040,5.078182,0.857143,0.635321,0.863636,0.815292,0.24,0.76,404.0,407.818182
7,,8,0.204082,0.352773,0.735,3.920000,0.125000,0.447829,0.666667,0.717302,0.04,0.80,-26.5,292.000000
8,,9,0.299320,0.115120,0.840,2.940000,0.142857,0.183211,0.500000,0.547364,0.08,0.88,-16.0,194.000000
9,,10,0.401361,0.073569,0.784,2.391864,0.133333,0.091475,0.406780,0.431460,0.08,0.96,-21.6,139.186441
10,,11,0.503401,0.044284,0.000,1.907027,0.000000,0.054411,0.324324,0.355031,0.00,0.96,-100.0,90.702703
11,,12,0.598639,0.018279,0.000,1.603636,0.000000,0.031180,0.272727,0.303509,0.00,0.96,-100.0,60.363636
12,,13,0.700680,0.007707,0.000,1.370097,0.000000,0.013803,0.233010,0.261319,0.00,0.96,-100.0,37.009709
13,,14,0.795918,0.004844,0.420,1.256410,0.071429,0.005878,0.213675,0.230753,0.04,1.00,-58.0,25.641026
14,,15,0.897959,0.002482,0.000,1.113636,0.000000,0.003387,0.189394,0.204916,0.00,1.00,-100.0,11.363636
15,,16,1.000000,0.000550,0.000,1.000000,0.000000,0.001208,0.170068,0.184130,0.00,1.00,-100.0,0.000000

ModelMetricsBinomial: deeplearning
** Reported on cross-validation data. **

MSE: 0.07894422011406138
RMSE: 0.2809701409653015
LogLoss: 0.25690989066625064
Mean Per-Class Error: 0.12918032786885247
AUC: 0.939016393442623
AUCPR: 0.7544898450976673
Gini: 0.878032786885246

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.7903158180508614:

              0     1   Error           Rate
0      0  119.0   3.0  0.0246    (3.0/122.0)
1      1    8.0  17.0    0.32     (8.0/25.0)
2  Total  127.0  20.0  0.0748   (11.0/147.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.790316    0.755556   19.0
1                        max f2   0.392344    0.789474   32.0
2                  max f0point5   0.937857    0.824742   17.0
3                  max accuracy   0.937857    0.925170   17.0
4                 max precision   0.998429    1.000000    0.0
5                    max recall   0.071552    1.000000   66.0
6               max specificity   0.998429    1.000000    0.0
7              max absolute_mcc   0.790316    0.718201   19.0
8    max min_per_class_accuracy   0.392344    0.840000   32.0
9   max mean_per_class_accuracy   0.392344    0.870820   32.0
10                      max tns   0.998429  122.000000    0.0
11                      max fns   0.998429   24.000000    0.0
12                      max fps   0.000358  122.000000  144.0
13                      max tps   0.071552   25.000000   66.0
14                      max tnr   0.998429    1.000000    0.0
15                      max fnr   0.998429    0.960000    0.0
16                      max fpr   0.000358    1.000000  144.0
17                      max tpr   0.071552    1.000000   66.0

Gains/Lift Table: Avg response rate: 17.01 %, avg score: 22.55 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.013605,0.997775,5.880,5.880000,1.000000,0.998387,1.000000,0.998387,0.08,0.08,488.0,488.000000
1,,2,0.020408,0.996800,5.880,5.880000,1.000000,0.997105,1.000000,0.997960,0.04,0.12,488.0,488.000000
2,,3,0.034014,0.993320,5.880,5.880000,1.000000,0.995889,1.000000,0.997132,0.08,0.20,488.0,488.000000
3,,4,0.040816,0.981710,5.880,5.880000,1.000000,0.990569,1.000000,0.996038,0.04,0.24,488.0,488.000000
4,,5,0.054422,0.976132,2.940,5.145000,0.500000,0.978550,0.875000,0.991666,0.04,0.28,194.0,414.500000
5,,6,0.102041,0.956196,5.040,5.096000,0.857143,0.966954,0.866667,0.980133,0.24,0.52,404.0,409.600000
6,,7,0.149660,0.694672,3.360,4.543636,0.571429,0.849105,0.772727,0.938443,0.16,0.68,236.0,354.363636
7,,8,0.204082,0.422074,1.470,3.724000,0.250000,0.584647,0.633333,0.844097,0.08,0.76,47.0,272.400000
8,,9,0.299320,0.162945,0.840,2.806364,0.142857,0.278481,0.477273,0.664128,0.08,0.84,-16.0,180.636364
9,,10,0.401361,0.094472,1.176,2.391864,0.200000,0.124345,0.406780,0.526895,0.12,0.96,17.6,139.186441
10,,11,0.503401,0.052913,0.392,1.986486,0.066667,0.070739,0.337838,0.434431,0.04,1.00,-60.8,98.648649
11,,12,0.598639,0.024088,0.000,1.670455,0.000000,0.038606,0.284091,0.371459,0.00,1.00,-100.0,67.045455
12,,13,0.700680,0.012602,0.000,1.427184,0.000000,0.015899,0.242718,0.319678,0.00,1.00,-100.0,42.718447
13,,14,0.795918,0.006291,0.000,1.256410,0.000000,0.008710,0.213675,0.282469,0.00,1.00,-100.0,25.641026
14,,15,0.897959,0.003269,0.000,1.113636,0.000000,0.004885,0.189394,0.250925,0.00,1.00,-100.0,11.363636
15,,16,1.000000,0.000358,0.000,1.000000,0.000000,0.001976,0.170068,0.225522,0.00,1.00,-100.0,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.56666666,0.5217492,0.8333333,0.0,0.0,1.0,1.0
1,auc,0.9585921,0.07172053,0.8757764,NaN,NaN,1.0,1.0
2,aucpr,0.30644923,0.5307857,0.91934776,NaN,NaN,0.0,0.0
3,err,0.13479064,0.16769698,0.16666667,0.40675125,0.1005353,0.0,0.0
4,err_count,1.6666666,2.8867514,5.0,NaN,NaN,0.0,0.0
5,f0point5,0.5978224,0.48785332,0.8518519,0.11273263,0.02452778,1.0,1.0
6,f1,0.96732026,0.056602966,0.9019608,NaN,NaN,1.0,1.0
7,f2,-Infinity,NaN,0.9583333,-Infinity,-Infinity,1.0,1.0
8,lift_top_group,11.959344,15.562046,1.3043479,0.3357568,0.15661347,29.0,29.0
9,logloss,0.15290837,0.19466485,0.47597873,None,None,0.13219051,0.15637262
10,max_per_class_error,0.14285715,0.31943828,0.71428573,None,None,0.0,0.0
11,mcc,0.49689043,0.50004834,0.48445213,None,None,1.0,1.0
12,mean_per_class_accuracy,0.5285714,0.5040651,0.64285713,None,None,1.0,1.0
13,mean_per_class_error,0.071428575,0.15971914,0.35714287,None,None,0.0,0.0
14,mse,0.050673917,0.067339204,0.16379796,None,None,0.036533754,0.053037878
15,pr_auc,0.18386954,0.4111448,0.91934776,None,None,0.0,0.0
16,precision,0.5642857,0.52025306,0.8214286,None,None,1.0,1.0
17,r2,-0.121197745,0.2714903,0.084359266,None,None,-0.09731743,-0.5930306
18,recall,0.6,0.5477226,1.0,None,None,1.0,1.0
19,rmse,0.16523144,0.17092575,0.4047196,None,None,0.19113806,0.23029953

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2020-01-21 22:13:25,0.000 sec,None,0.000000,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,2020-01-21 22:13:25,0.495 sec,48000 obs/sec,0.979592,1,144.0,0.408663,0.519302,-0.183223,0.808852,0.486066,5.88,0.183673
2,,2020-01-21 22:13:25,0.529 sec,54866 obs/sec,11.197279,11,1646.0,0.244190,0.214626,0.577537,0.940000,0.787554,5.88,0.061224

Variable Importances:

            variable  relative_importance  scaled_importance  percentage
0    winner_gg_drama             1.000000           1.000000    0.088492
1            nom_dga             0.968969           0.968969    0.085746
2         nom_cannes             0.868818           0.868818    0.076883
3            nom_sag             0.862101           0.862101    0.076289
4      winner_cannes             0.860334           0.860334    0.076133
5         winner_pga             0.834897           0.834897    0.073882
6      nom_gg_comedy             0.832120           0.832120    0.073636
7          nom_bafta             0.814545           0.814545    0.072081
8       nom_gg_drama             0.721495           0.721495    0.063847
9       winner_bafta             0.704079           0.704079    0.062305
10  winner_gg_comedy             0.684894           0.684894    0.060608
11           nom_pga             0.660105           0.660105    0.058414
12              year             0.533736           0.533736    0.047231
13        winner_sag             0.533383           0.533383    0.047200
14        winner_dga             0.420980           0.420980    0.037253

In [9]:
# Re-split data on min_year to 2019
train = full_table.loc[((full_table['year'] < 2019) & (full_table['year'] >= min_year))]
test = full_table.loc[(full_table['year'] == 2019)]

# Import a binary outcome train/test set into H2O
train = h2o.H2OFrame(train)
test = h2o.H2OFrame(test)

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [10]:
top_model.train(x=x, y=y, training_frame=train)

preds = top_model.predict(test)

preds

deeplearning Model Build progress: |██████████████████████████████████████| 100%
deeplearning prediction progress: |███████████████████████████████████████| 100%

predict,p0,p1
0,0.999997,3.27692e-06
0,0.998913,0.00108672
0,0.999999,6.39159e-07
0,0.999904,9.57657e-05
0,0.999997,3.27692e-06
0,0.999968,3.22032e-05
0,0.853322,0.146678
0,0.999507,0.000493258
0,0.998038,0.0019618

## Predict the winner

In [11]:
test['pred'] = preds['predict']
test['probA'] = preds['p1']
test_pd = test.as_data_frame(use_pandas=True)

In [12]:
test_pd[['film','probA']].sort_values('probA', ascending = False)

                            film         probA
6               1917 (2019 film)  1.466781e-01
8           Parasite (2019 film)  1.961801e-03
1                   The Irishman  1.086720e-03
7  Once Upon a Time in Hollywood  4.932576e-04
3              Joker (2019 film)  9.576566e-05
5                 Marriage Story  3.220317e-05
0                 Ford v Ferrari  3.276917e-06
4       Little Women (2019 film)  3.276917e-06
2                    Jojo Rabbit  6.391595e-07

In [13]:
test_pd.T # The DGA's and BAFTA's Haven't come out yet

,0,1,2,3,4,5,6,7,8
Unnamed: 0,554,555,556,557,558,559,560,561,562
year,2019,2019,2019,2019,2019,2019,2019,2019,2019
film,Ford v Ferrari,The Irishman,Jojo Rabbit,Joker (2019 film),Little Women (2019 film),Marriage Story,1917 (2019 film),Once Upon a Time in Hollywood,Parasite (2019 film)
wiki,/wiki/Ford_v_Ferrari,/wiki/The_Irishman,/wiki/Jojo_Rabbit,/wiki/Joker_(2019_film),/wiki/Little_Women_(2019_film),/wiki/Marriage_Story,/wiki/1917_(2019_film),/wiki/Once_Upon_a_Time_in_Hollywood,/wiki/Parasite_(2019_film)
winner,False,False,False,False,False,False,False,False,False
Oscar_win,0,0,0,0,0,0,0,0,0
nom_gg_drama,0,1,0,1,0,1,1,0,0
winner_gg_drama,0,0,0,0,0,0,1,0,0
nom_gg_comedy,0,0,1,0,0,0,0,1,0
winner_gg_comedy,0,0,0,0,0,0,0,1,0
nom_pga,1,1,1,1,1,1,1,1,1
winner_pga,0,0,0,0,0,0,1,0,0
nom_bafta,0,1,0,1,0,0,1,1,1
winner_bafta,0,0,0,0,0,0,0,0,0
nom_dga,0,1,1,0,0,0,1,1,1
winner_dga,0,0,0,0,0,0,0,0,0
nom_sag,0,1,1,0,0,0,0,1,1
winner_sag,0,0,0,0,0,0,0,0,1
nom_cannes,0,0,0,0,0,0,0,1,1
winner_cannes,0,0,0,0,0,0,0,0,1
pred,0,0,0,0,0,0,0,0,0
probA,3.27692e-06,0.00108672,6.39159e-07,9.57657e-05,3.27692e-06,3.22032e-05,0.146678,0.000493258,0.0019618