In [1]:
import pandas as pd
import numpy as np
import h2o

# Machine Learning - Using h2o Auto ML

In [2]:
full_table = pd.read_csv('./data/processed_results/osc_df')

In [3]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_231"; Java(TM) SE Runtime Environment (build 1.8.0_231-b11); Java HotSpot(TM) 64-Bit Server VM (build 25.231-b11, mixed mode)
  Starting server from /Users/nickparker/anaconda3/envs/DistributedComputing/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmp4is6xjx0
  JVM stdout: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmp4is6xjx0/h2o_nickparker_started_from_python.out
  JVM stderr: /var/folders/kj/kg5zhyt51z7__kkfrysh9lv00000gn/T/tmp4is6xjx0/h2o_nickparker_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/Los_Angeles
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.2
H2O cluster version age:    4 days
H2O cluster name:           H2O_from_python_nickparker_dng0zp
H2O cluster total nodes:    1
H2O cluster free memory:    3.556 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

### Train/Test Split

First Year of Existance:
- gg_drama 1943
- gg_comedy 1951
- pga 1989
- bafta 1960
- dga 1948
- sag 1995
- cannes 1970

In [4]:
# I pick a min_year where the awards shows will be relevant
min_year = 1995

# Leftover code from designing the split
# # 80/20 Split (random)
# table_sized = full_table.loc[(full_table['year'] >= min_year)]
# rand_rows = np.random.choice(table_sized.shape[0], table_sized.shape[0])
# split = int(0.8 * len(rand_rows))
# train = table_sized.iloc[rand_rows[:split]]
# valid = table_sized.iloc[rand_rows[split:]]

# # 80/20 Split (sequential)
# year_range = 2019 - min_year
# train = full_table.loc[((full_table['year'] <= 2019 - 0.2 * year_range) & (full_table['year'] >= min_year))]
# valid = full_table.loc[((full_table['year'] > 2019 - 0.2 * year_range) & (full_table['year'] < 2019))]

# # Final Prediction
# train = full_table.loc[((full_table['year'] < 2019) & (full_table['year'] >= min_year))]
# test = full_table.loc[(full_table['year'] == 2019)]

# train.to_csv('./data/processed_results/train.csv', index = False)
# valid.to_csv('./data/processed_results/valid.csv', index = False)

# H2O's Auto ML

## Pick best model by validating with the first 80% of the data

In [5]:
# 80/20 Split (sequential) Excluding 2019
year_range = 2019 - min_year
train = full_table.loc[((full_table['year'] <= 2019 - 0.2 * year_range) & (full_table['year'] >= min_year))]
valid = full_table.loc[((full_table['year'] > 2019 - 0.2 * year_range) & (full_table['year'] < 2019))]

In [6]:
print('training set contains:', train.shape[0], 'movies')
print('validation set contains:', valid.shape[0], 'movies')

training set contains: 125 movies
validation set contains: 34 movies

In [7]:
train.columns

Index(['Unnamed: 0', 'year', 'film', 'wiki', 'winner', 'Nominations',
       'Oscar_win', 'nom_gg_drama', 'winner_gg_drama', 'nom_gg_comedy',
       'winner_gg_comedy', 'nom_pga', 'winner_pga', 'nom_bafta',
       'winner_bafta', 'nom_dga', 'winner_dga', 'nom_sag', 'winner_sag',
       'nom_cannes', 'winner_cannes'],
      dtype='object')

In [8]:
from h2o.automl import H2OAutoML, get_leaderboard

# Import a sample binary outcome train/test set into H2O
train = h2o.H2OFrame(train)
test = h2o.H2OFrame(valid)

# Identify predictors and response
predictors = ['year','nom_gg_drama', 'winner_gg_drama', 'nom_gg_comedy', 'winner_gg_comedy',
       'nom_pga', 'winner_pga', 'nom_bafta', 'winner_bafta', 'nom_dga', 'winner_dga',
        'nom_sag', 'winner_sag', 'nom_cannes', 'winner_cannes','Nominations']

x = predictors
y = 'Oscar_win'

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

# Run AutoML for 20 base models (limited to 1 hour max runtime by default)
aml = H2OAutoML(max_models=20, seed=1)
aml.train(x=x, y=y, training_frame=train)

# AutoML Leaderboard
lb = aml.leaderboard

# Optionally edd extra model information to the leaderboard
lb = get_leaderboard(aml, extra_columns='ALL')

# Print all rows (instead of default 10 rows)
lb.head(rows=lb.nrows)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
AutoML progress: |███████████
10:11:13.879: Skipping training of model GBM_5_AutoML_20200125_101057 due to exception: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_5_AutoML_20200125_101057.  Details: ERRR on field: _min_rows: The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 125.0.


█████████████████████████████████████████████| 100%

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse,training_time_ms,predict_time_per_row_ms
XGBoost_grid__1_AutoML_20200125_101057_model_4,0.899048,0.344447,0.462829,0.208333,0.338942,0.114882,211,0.024542
DeepLearning_1_AutoML_20200125_101057,0.88619,0.430868,0.421092,0.125,0.348038,0.121131,32,0.017899
XGBoost_grid__1_AutoML_20200125_101057_model_1,0.884762,0.481381,0.413137,0.125,0.392884,0.154358,225,0.021286
StackedEnsemble_AllModels_AutoML_20200125_101057,0.882857,0.337347,0.397983,0.130952,0.328002,0.107585,167,0.342286
StackedEnsemble_BestOfFamily_AutoML_20200125_101057,0.881429,0.333825,0.394172,0.121429,0.340589,0.116001,234,0.078971
XRT_1_AutoML_20200125_101057,0.811905,0.439931,0.35452,0.22381,0.36671,0.134476,76,0.026546
DRF_1_AutoML_20200125_101057,0.785714,0.731257,0.307786,0.202381,0.381997,0.145921,95,0.027219
XGBoost_grid__1_AutoML_20200125_101057_model_2,0.748333,0.416425,0.240409,0.147619,0.364964,0.133198,142,0.022895
GLM_1_AutoML_20200125_101057,0.704286,0.432762,0.32774,0.261905,0.354253,0.125495,32,0.016544
GBM_3_AutoML_20200125_101057,0.681905,0.560564,0.287336,0.261905,0.376151,0.14149,58,0.028393
GBM_4_AutoML_20200125_101057,0.660476,0.587309,0.265065,0.255952,0.382678,0.146442,56,0.031519
XGBoost_3_AutoML_20200125_101057,0.645952,0.485207,0.202605,0.244048,0.387087,0.149836,204,0.019997
GBM_2_AutoML_20200125_101057,0.644762,0.592476,0.239796,0.279762,0.38679,0.149607,67,0.027073
DeepLearning_grid__3_AutoML_20200125_101057_model_1,0.634762,1.56592,0.286554,0.338095,0.380812,0.145018,8692,0.123354
DeepLearning_grid__1_AutoML_20200125_101057_model_1,0.568095,1.65366,0.177599,0.342857,0.434491,0.188782,2209,0.035183
GBM_grid__1_AutoML_20200125_101057_model_1,0.517619,0.70449,0.186465,0.392857,0.397545,0.158042,137,0.041347
XGBoost_grid__1_AutoML_20200125_101057_model_5,0.465238,0.513738,0.149404,0.34881,0.392324,0.153918,523,0.022675
DeepLearning_grid__2_AutoML_20200125_101057_model_1,0.45,2.76669,0.201259,0.408333,0.412369,0.170048,3060,0.077981
GBM_1_AutoML_20200125_101057,0.429048,0.893899,0.148786,0.409524,0.417678,0.174455,82,0.029125
XGBoost_grid__1_AutoML_20200125_101057_model_3,0.337857,0.568189,0.116697,0.390476,0.412444,0.17011,100,0.020174
XGBoost_1_AutoML_20200125_101057,0.112143,0.543759,0.0885665,0.5,0.397991,0.158397,201,0.024854
XGBoost_2_AutoML_20200125_101057,0.0952381,0.557696,0.0838333,0.5,0.402123,0.161703,102,0.083391

## Once best model is picked, retrain that on the entire dataset

In [9]:
top_model = aml.leader
top_model

Model Details
=============
H2OXGBoostEstimator :  XGBoost
Model Key:  XGBoost_grid__1_AutoML_20200125_101057_model_4


Model Summary:

     number_of_trees
0              134.0

ModelMetricsBinomial: xgboost
** Reported on train data. **

MSE: 0.04634662654427943
RMSE: 0.21528266661363946
LogLoss: 0.17710936267777422
Mean Per-Class Error: 0.0535714285714286
AUC: 0.9809523809523809
AUCPR: 0.8604749365365195
Gini: 0.9619047619047618

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.47652560472488403:

              0     1   Error          Rate
0      0  102.0   3.0  0.0286   (3.0/105.0)
1      1    3.0  17.0    0.15    (3.0/20.0)
2  Total  105.0  20.0   0.048   (6.0/125.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value   idx
0                        max f1   0.476526    0.850000  19.0
1                        max f2   0.259746    0.904762  24.0
2                  max f0point5   0.536140    0.852273  16.0
3                  max accuracy   0.476526    0.952000  19.0
4                 max precision   0.786035    1.000000   0.0
5                    max recall   0.137846    1.000000  32.0
6               max specificity   0.786035    1.000000   0.0
7              max absolute_mcc   0.476526    0.821429  19.0
8    max min_per_class_accuracy   0.259746    0.942857  24.0
9   max mean_per_class_accuracy   0.259746    0.946429  24.0
10                      max tns   0.786035  105.000000   0.0
11                      max fns   0.786035   19.000000   0.0
12                      max fps   0.042672  105.000000  73.0
13                      max tps   0.137846   20.000000  32.0
14                      max tnr   0.786035    1.000000   0.0
15                      max fnr   0.786035    0.950000   0.0
16                      max fpr   0.042672    1.000000  73.0
17                      max tpr   0.137846    1.000000  32.0

Gains/Lift Table: Avg response rate: 16.00 %, avg score: 17.23 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.016,0.784527,6.250000,6.250000,1.000000,0.785767,1.000000,0.785767,0.10,0.10,525.000000,525.000000
1,,2,0.024,0.770454,6.250000,6.250000,1.000000,0.781452,1.000000,0.784329,0.05,0.15,525.000000,525.000000
2,,3,0.032,0.757096,6.250000,6.250000,1.000000,0.758540,1.000000,0.777881,0.05,0.20,525.000000,525.000000
3,,4,0.040,0.742127,6.250000,6.250000,1.000000,0.756535,1.000000,0.773612,0.05,0.25,525.000000,525.000000
4,,5,0.056,0.740161,6.250000,6.250000,1.000000,0.740999,1.000000,0.764294,0.10,0.35,525.000000,525.000000
5,,6,0.104,0.628258,5.208333,5.769231,0.833333,0.708684,0.923077,0.738628,0.25,0.60,420.833333,476.923077
6,,7,0.152,0.478456,4.166667,5.263158,0.666667,0.537022,0.842105,0.674963,0.20,0.80,316.666667,426.315789
7,,8,0.200,0.257093,3.125000,4.750000,0.500000,0.378529,0.760000,0.603819,0.15,0.95,212.500000,375.000000
8,,9,0.304,0.115301,0.480769,3.289474,0.076923,0.155760,0.526316,0.450535,0.05,1.00,-51.923077,228.947368
9,,10,0.400,0.070613,0.000000,2.500000,0.000000,0.085256,0.400000,0.362868,0.00,1.00,-100.000000,150.000000
10,,11,0.512,0.047207,0.000000,1.953125,0.000000,0.052749,0.312500,0.295030,0.00,1.00,-100.000000,95.312500
11,,12,0.600,0.045029,0.000000,1.666667,0.000000,0.045293,0.266667,0.258402,0.00,1.00,-100.000000,66.666667
12,,13,0.712,0.044083,0.000000,1.404494,0.000000,0.044277,0.224719,0.224719,0.00,1.00,-100.000000,40.449438
13,,14,1.000,0.042672,0.000000,1.000000,0.000000,0.042825,0.160000,0.172334,0.00,1.00,-100.000000,0.000000

ModelMetricsBinomial: xgboost
** Reported on cross-validation data. **

MSE: 0.11488168435730392
RMSE: 0.3389420073660152
LogLoss: 0.3444466723554973
Mean Per-Class Error: 0.12380952380952381
AUC: 0.8990476190476191
AUCPR: 0.46282855688752605
Gini: 0.7980952380952382

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.279472678899765:

              0     1   Error           Rate
0      0   98.0   7.0  0.0667    (7.0/105.0)
1      1    7.0  13.0    0.35     (7.0/20.0)
2  Total  105.0  20.0   0.112   (14.0/125.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold       value    idx
0                        max f1   0.279473    0.650000   19.0
1                        max f2   0.131712    0.793651   37.0
2                  max f0point5   0.279473    0.650000   19.0
3                  max accuracy   0.279473    0.888000   19.0
4                 max precision   0.795061    1.000000    0.0
5                    max recall   0.131712    1.000000   37.0
6               max specificity   0.795061    1.000000    0.0
7              max absolute_mcc   0.135383    0.589842   34.0
8    max min_per_class_accuracy   0.142414    0.838095   32.0
9   max mean_per_class_accuracy   0.131712    0.876190   37.0
10                      max tns   0.795061  105.000000    0.0
11                      max fns   0.795061   19.000000    0.0
12                      max fps   0.031610  105.000000  102.0
13                      max tps   0.131712   20.000000   37.0
14                      max tnr   0.795061    1.000000    0.0
15                      max fnr   0.795061    0.950000    0.0
16                      max fpr   0.031610    1.000000  102.0
17                      max tpr   0.131712    1.000000   37.0

Gains/Lift Table: Avg response rate: 16.00 %, avg score: 14.40 %

,,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain
0,,1,0.016,0.770075,3.125000,3.125000,0.500000,0.791109,0.500000,0.791109,0.05,0.05,212.500000,212.500000
1,,2,0.024,0.709542,6.250000,4.166667,1.000000,0.715984,0.666667,0.766067,0.05,0.10,525.000000,316.666667
2,,3,0.032,0.699280,0.000000,3.125000,0.000000,0.702563,0.500000,0.750191,0.00,0.10,-100.000000,212.500000
3,,4,0.040,0.688294,0.000000,2.500000,0.000000,0.698003,0.400000,0.739753,0.00,0.10,-100.000000,150.000000
4,,5,0.056,0.620975,0.000000,1.785714,0.000000,0.665087,0.285714,0.718420,0.00,0.10,-100.000000,78.571429
5,,6,0.104,0.305395,4.166667,2.884615,0.666667,0.357409,0.461538,0.551800,0.20,0.30,316.666667,188.461538
6,,7,0.152,0.281924,6.250000,3.947368,1.000000,0.295354,0.631579,0.470817,0.30,0.60,525.000000,294.736842
7,,8,0.200,0.175428,1.041667,3.250000,0.166667,0.222466,0.520000,0.411213,0.05,0.65,4.166667,225.000000
8,,9,0.328,0.134198,1.953125,2.743902,0.312500,0.144623,0.439024,0.307178,0.25,0.90,95.312500,174.390244
9,,10,0.400,0.101834,1.388889,2.500000,0.222222,0.127428,0.400000,0.274823,0.10,1.00,38.888889,150.000000
10,,11,0.504,0.063755,0.000000,1.984127,0.000000,0.081027,0.317460,0.234833,0.00,1.00,-100.000000,98.412698
11,,12,0.600,0.061543,0.000000,1.666667,0.000000,0.062328,0.266667,0.207232,0.00,1.00,-100.000000,66.666667
12,,13,0.696,0.059475,0.000000,1.436782,0.000000,0.060442,0.229885,0.186985,0.00,1.00,-100.000000,43.678161
13,,14,0.800,0.047623,0.000000,1.250000,0.000000,0.055136,0.200000,0.169845,0.00,1.00,-100.000000,25.000000
14,,15,0.904,0.046016,0.000000,1.106195,0.000000,0.046694,0.176991,0.155677,0.00,1.00,-100.000000,10.619469
15,,16,1.000,0.031610,0.000000,1.000000,0.000000,0.033924,0.160000,0.143989,0.00,1.00,-100.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.744,0.42388678,0.92,0.0,1.0,0.8,1.0
1,auc,0.92401963,0.09907541,0.9044118,NaN,1.0,0.7916667,1.0
2,aucpr,0.2477451,0.44168508,0.9076471,NaN,0.0,0.083333336,0.0
3,err,0.09915577,0.10464366,0.08,0.21577886,0.0,0.2,0.0
4,err_count,1.75,2.362908,2.0,NaN,0.0,5.0,0.0
5,f0point5,0.647348,0.4736461,0.97402596,0.06271397,1.0,0.2,1.0
6,f1,0.8058036,0.34797573,0.9375,NaN,1.0,0.2857143,1.0
7,f2,-Infinity,NaN,0.90361446,-Infinity,1.0,0.5,1.0
8,lift_top_group,10.344203,13.390413,1.4705882,0.25042757,25.0,0.0,25.0
9,logloss,0.3012909,0.42254585,1.042946,None,0.15949012,0.21786559,0.08615286
10,max_per_class_error,0.06519608,0.094856426,0.11764706,None,0.0,0.20833333,0.0
11,mcc,0.6406819,0.44313094,0.84016806,None,1.0,0.36324158,1.0
12,mean_per_class_accuracy,0.76740193,0.4312197,0.9411765,None,1.0,0.8958333,1.0
13,mean_per_class_error,0.03259804,0.047428213,0.05882353,None,0.0,0.104166664,0.0
14,mse,0.10233889,0.16649343,0.39686677,None,0.04375806,0.061059847,0.010009778
15,pr_auc,0.19819608,0.39823335,0.9076471,None,0.0,0.083333336,0.0
16,precision,0.6333333,0.50552505,1.0,None,1.0,0.16666667,1.0
17,r2,-0.16282812,0.60424244,-0.8238362,None,-0.13953282,-0.5901002,0.7393287
18,recall,0.7764706,0.43703943,0.88235295,None,1.0,1.0,1.0
19,rmse,0.23726194,0.23991057,0.62997365,None,0.20918427,0.24710292,0.10004888

See the whole table with table.as_data_frame()

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_auc,training_pr_auc,training_lift,training_classification_error
0,,2020-01-25 10:11:20,5.037 sec,0.0,0.500000,0.693147,0.500000,0.000000,1.000000,0.840
1,,2020-01-25 10:11:20,5.043 sec,5.0,0.446181,0.590653,0.947857,0.501375,5.468750,0.080
2,,2020-01-25 10:11:20,5.048 sec,10.0,0.403737,0.515529,0.967381,0.506464,5.468750,0.072
3,,2020-01-25 10:11:20,5.053 sec,15.0,0.369649,0.457497,0.969048,0.598876,5.208333,0.056
4,,2020-01-25 10:11:20,5.058 sec,20.0,0.341196,0.409945,0.970238,0.611864,5.208333,0.064
5,,2020-01-25 10:11:20,5.064 sec,25.0,0.319747,0.374112,0.976190,0.680937,6.250000,0.056
6,,2020-01-25 10:11:20,5.070 sec,30.0,0.302877,0.345257,0.976429,0.738695,6.250000,0.056
7,,2020-01-25 10:11:20,5.075 sec,35.0,0.288508,0.320155,0.976429,0.738695,6.250000,0.056
8,,2020-01-25 10:11:20,5.080 sec,40.0,0.277181,0.300275,0.975476,0.737763,6.250000,0.056
9,,2020-01-25 10:11:21,5.087 sec,45.0,0.268326,0.284012,0.975952,0.739702,6.250000,0.056
10,,2020-01-25 10:11:21,5.094 sec,50.0,0.260910,0.270049,0.975952,0.739416,6.250000,0.064
11,,2020-01-25 10:11:21,5.101 sec,55.0,0.254829,0.258226,0.976429,0.791071,6.250000,0.056
12,,2020-01-25 10:11:21,5.107 sec,60.0,0.249293,0.247225,0.978095,0.793669,6.250000,0.056
13,,2020-01-25 10:11:21,5.115 sec,65.0,0.244680,0.237786,0.979048,0.803545,6.250000,0.056
14,,2020-01-25 10:11:21,5.123 sec,70.0,0.240432,0.229190,0.979048,0.803545,6.250000,0.056
15,,2020-01-25 10:11:21,5.130 sec,75.0,0.236662,0.221668,0.979048,0.803545,6.250000,0.056
16,,2020-01-25 10:11:21,5.140 sec,80.0,0.233159,0.214965,0.979524,0.805201,6.250000,0.056
17,,2020-01-25 10:11:21,5.151 sec,85.0,0.230431,0.209395,0.980000,0.807073,6.250000,0.056
18,,2020-01-25 10:11:21,5.159 sec,90.0,0.228022,0.204292,0.980000,0.807073,6.250000,0.056
19,,2020-01-25 10:11:21,5.167 sec,95.0,0.226089,0.199880,0.980000,0.857073,6.250000,0.056

See the whole table with table.as_data_frame()

Variable Importances:

            variable  relative_importance  scaled_importance  percentage
0         winner_dga           279.737244           1.000000    0.548616
1         winner_pga            82.644966           0.295438    0.162082
2        Nominations            40.100796           0.143352    0.078645
3               year            33.642143           0.120263    0.065978
4         winner_sag            28.317915           0.101230    0.055537
5       winner_bafta            23.386477           0.083602    0.045865
6            nom_sag            17.145683           0.061292    0.033626
7          nom_bafta             2.832297           0.010125    0.005555
8    winner_gg_drama             0.841651           0.003009    0.001651
9            nom_pga             0.735163           0.002628    0.001442
10           nom_dga             0.236968           0.000847    0.000465
11  winner_gg_comedy             0.116401           0.000416    0.000228
12        nom_cannes             0.090885           0.000325    0.000178
13      nom_gg_drama             0.050952           0.000182    0.000100
14     nom_gg_comedy             0.016959           0.000061    0.000033

In [10]:
# Re-split data on min_year to 2019
train = full_table.loc[((full_table['year'] < 2019) & (full_table['year'] >= min_year))]
test = full_table.loc[(full_table['year'] == 2019)]

# Import a binary outcome train/test set into H2O
train = h2o.H2OFrame(train)
test = h2o.H2OFrame(test)

# For binary classification, response should be a factor
train[y] = train[y].asfactor()
test[y] = test[y].asfactor()

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [11]:
top_model.train(x=x, y=y, training_frame=train)

preds = top_model.predict(test)

preds

xgboost Model Build progress: |███████████████████████████████████████████| 100%
xgboost prediction progress: |████████████████████████████████████████████| 100%

predict,p0,p1
0,0.994574,0.00542647
0,0.896084,0.103916
0,0.995754,0.00424649
0,0.964185,0.0358153
0,0.994933,0.00506749
0,0.987654,0.0123458
1,0.231437,0.768563
0,0.948777,0.0512227
0,0.6251,0.3749

In [23]:
# Feature Importance
#print(top_model.varimp)

## Predict the winner

In [12]:
test['pred'] = preds['predict']
test['probA'] = preds['p1']
test_pd = test.as_data_frame(use_pandas=True)

In [13]:
test_pd[['film','probA']].sort_values('probA', ascending = False)

                            film     probA
6               1917 (2019 film)  0.768563
8           Parasite (2019 film)  0.374900
1                   The Irishman  0.103916
7  Once Upon a Time in Hollywood  0.051223
3              Joker (2019 film)  0.035815
5                 Marriage Story  0.012346
0                 Ford v Ferrari  0.005426
4       Little Women (2019 film)  0.005067
2                    Jojo Rabbit  0.004246

In [14]:
test_pd.T #The DGA's (1/26) and BAFTA's (2/2) Haven't come out yet

,0,1,2,3,4,5,6,7,8
Unnamed: 0,554,555,556,557,558,559,560,561,562
year,2019,2019,2019,2019,2019,2019,2019,2019,2019
film,Ford v Ferrari,The Irishman,Jojo Rabbit,Joker (2019 film),Little Women (2019 film),Marriage Story,1917 (2019 film),Once Upon a Time in Hollywood,Parasite (2019 film)
wiki,/wiki/Ford_v_Ferrari,/wiki/The_Irishman,/wiki/Jojo_Rabbit,/wiki/Joker_(2019_film),/wiki/Little_Women_(2019_film),/wiki/Marriage_Story,/wiki/1917_(2019_film),/wiki/Once_Upon_a_Time_in_Hollywood,/wiki/Parasite_(2019_film)
winner,False,False,False,False,False,False,False,False,False
Nominations,4,10,6,11,6,6,10,10,6
Oscar_win,0,0,0,0,0,0,0,0,0
nom_gg_drama,0,1,0,1,0,1,1,0,0
winner_gg_drama,0,0,0,0,0,0,1,0,0
nom_gg_comedy,0,0,1,0,0,0,0,1,0
winner_gg_comedy,0,0,0,0,0,0,0,1,0
nom_pga,1,1,1,1,1,1,1,1,1
winner_pga,0,0,0,0,0,0,1,0,0
nom_bafta,0,1,0,1,0,0,1,1,1
winner_bafta,0,0,0,0,0,0,0,0,0
nom_dga,0,1,1,0,0,0,1,1,1
winner_dga,0,0,0,0,0,0,0,0,0
nom_sag,0,1,1,0,0,0,0,1,1
winner_sag,0,0,0,0,0,0,0,0,1
nom_cannes,0,0,0,0,0,0,0,1,1
winner_cannes,0,0,0,0,0,0,0,0,1
pred,0,0,0,0,0,0,1,0,0
probA,0.00542647,0.103916,0.00424649,0.0358153,0.00506749,0.0123458,0.768563,0.0512227,0.3749